<!DOCTYPE html> 
<html>
<head>
<title>Test DB query</title>
</head> 
<body>
<h1>Enter constraints below.</h1>
<form method="post" action="/plot">
<p>Available columns: {{columns}}<br></p>
<!-- <p>column: <input type="text" name="column"></p> 
<p>operator: <input type="text" name="operator"></p> 
<p>value: <input type="text" name="value"></p>
 -->
<p>query: <input type="text" name="query" size=80></p> 
 <p>plot x: <input type="text" name="x"></p>
<p>plot y: <input type="text" name="y"></p>
<input type="submit">
</form>
</body>
</html>
